body{
    color:black;
    /* background-color: blanchedalmond; */
    font-family: Arial, sans-serif;
}
.menu {
    background-color:red;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #555;
}